<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rating.mapper.UserRatingMapper">
    
    <resultMap type="UserRating" id="UserRatingResult">
        <result property="userId"    column="userId"    />
        <result property="bookIndex"    column="bookIndex"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectUserRatingVo">
        select userId, bookIndex, score from user_reviews_dataset
    </sql>

    <select id="selectUserRatingList" parameterType="UserRating" resultMap="UserRatingResult">
        <include refid="selectUserRatingVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectUserRatingByUserId" parameterType="Long" resultMap="UserRatingResult">
        <include refid="selectUserRatingVo"/>
        where userId = #{userId}
    </select>

    <insert id="insertUserRating" parameterType="UserRating">
        insert into user_reviews_dataset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">userId,</if>
            <if test="bookIndex != null">bookIndex,</if>
            <if test="score != null">score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="bookIndex != null">#{bookIndex},</if>
            <if test="score != null">#{score},</if>
         </trim>
    </insert>

    <update id="updateUserRating" parameterType="UserRating">
        update user_reviews_dataset
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookIndex != null">bookIndex = #{bookIndex},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where userId = #{userId}
    </update>

    <delete id="deleteUserRatingByUserId" parameterType="Long">
        delete from user_reviews_dataset where userId = #{userId}
    </delete>

    <delete id="deleteUserRatingByUserIds" parameterType="String">
        delete from user_reviews_dataset where userId in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>